* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color:cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 36px;
    cursor: pointer;
    background-color: #ccc;
    border: 2px solid #333;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    color: #b0413e;
}

.box:hover {
    background-color: #ddd;
}

.status {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
